{% extends "base.html" %}
{% block content %}
<table id="board">
    {% for row in board %}
    <tr>
        {% for letter in row %}
        <td>{{letter}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<p id="countdown"></p>

<p>Your score: <span id="player-score">0</span></p>

<form id="guess-form">
    <label id="guess-label" for="guess">Guess a word:</label>
    <input type="text" id="guess-input" name="guess">
</form>

<p id="result"></p>

<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}
